.Header {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.Header > div {
  display: flex;
}

.Header .Header_center {
  justify-content: center;
  width: 50%;
  font-size: 25px;
}

.Header .Header_left {
  justify-content: flex-start;
  width: 25%;
}

.Header .Header_right {
  justify-content: flex-end;
  width: 25%;
}
